<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!-- 각VO에 대한 약칭 -->
		<!-- 버스 예매관련 VO -->
		<typeAlias type="booking.bus.bean.BusVO" alias="busVO"/>
		<typeAlias type="booking.bus.bean.SeatVO" alias="seatVO"/>
		<typeAlias type="booking.ticket.bean.TicketVO" alias="ticketVO"/>
		
		<!-- 게시판 관련 VO -->
		<typeAlias type="board.bean.BoardVO" alias="boardVO"/>
		<typeAlias type="qboard.bean.QboardVO" alias="qboardVO"/>
		
		<!-- 인포 관련 VO -->
		<typeAlias type="info.terminal.bean.TerminalVO" alias="terminalVO"/>
		<typeAlias type="info.company.bean.CompanyVO" alias="companyVO"/>
	</typeAliases>
	<!-- DAO 매퍼를 등록 -->
	<mappers>
		<mapper resource="mybatis/booking-bus-mapping.xml"/>
		<mapper resource="mybatis/booking-seat-mapping.xml"/>
		<mapper resource="mybatis/booking-ticket-mapping.xml"/>
		<mapper resource="mybatis/board-mapping.xml"/>
		<mapper resource="mybatis/qboard-mapping.xml"/>
		<mapper resource="mybatis/info-company-mapping"/>
		<mapper resource="mybatis/info-terminal-mapping"/>
	</mappers>
</configuration>